@page "/Start"

<h1>Ready to Start!</h1>

If it's your turn to ask the question, click the button to play as the dasher. Otherwise, wait for the dasher to begin the next round.
<button class="btn btn-primary btn-lg btn-block" @onclick="PlayAsDasher">Play as dasher</button>
